CREATE TABLE IF NOT EXISTS search_indices (item_id INTEGER NOT NULL, field_name TEXT NOT NULL, token BLOB NOT NULL, PRIMARY KEY (item_id, field_name, token), FOREIGN KEY (item_id) REFERENCES password_items(id) ON DELETE CASCADE); CREATE INDEX IF NOT EXISTS idx_search_indices_token ON search_indices(token);
