CREATE TABLE IF NOT EXISTS item_tags (item_id INTEGER NOT NULL, tag_id INTEGER NOT NULL, PRIMARY KEY (item_id, tag_id), FOREIGN KEY (item_id) REFERENCES password_items(id) ON DELETE CASCADE, FOREIGN KEY (tag_id) REFERENCES buttons(id) ON DELETE CASCADE); CREATE INDEX IF NOT EXISTS idx_item_tags_tag_id ON item_tags(tag_id);
