CREATE TABLE attachments_new (id INTEGER PRIMARY KEY AUTOINCREMENT, item_id INTEGER NOT NULL, file_name TEXT NOT NULL, file_size INTEGER NOT NULL, mime_type TEXT NOT NULL, created_at TEXT NOT NULL, FOREIGN KEY(item_id) REFERENCES password_items(id) ON DELETE CASCADE); INSERT INTO attachments_new (id, item_id, file_name, file_size, mime_type, created_at) SELECT id, item_id, file_name, file_size, mime_type, created_at FROM attachments; DROP TABLE attachments; ALTER TABLE attachments_new RENAME TO attachments;
