CREATE TABLE IF NOT EXISTS search_trigrams (item_id INTEGER NOT NULL, trigram_hash BLOB NOT NULL, PRIMARY KEY (item_id, trigram_hash), FOREIGN KEY (item_id) REFERENCES password_items(id) ON DELETE CASCADE); CREATE INDEX IF NOT EXISTS idx_search_trigrams_hash ON search_trigrams(trigram_hash);
